// Layout

main {
	margin-top: $nav-height
}


.l-row {
	padding:$xlarge-padding 0;
}

.l-row-gray {
	background:$gray-base;
	color:$white;
}


footer {
	padding:$xlarge-padding 0;
	min-height:200px;
	background: $gray-lighter;
}