// Variables

$white	: #ffffff;
$brand-primary	: #4f2f4f;
$link-color:	#CC00FF;
$btn-primary-bg : $link-color;
$btn-default-border : $link-color;
$navbar-inverse-bg : #2E0854;
$navbar-inverse-link-color : $white;