<% content_for :title do %>Sales<% end %>
<div class="container">
		<%= render 'layouts/cta' %>
		<div class="col-xs-12 col-sm-8 col-sm-offset-4">
			<div class="stream">
				<h1>Purple Martini Sales</h1>
				<div class="media media-stream">
				  <div class="media-left">
  			  	<div class="amount">45</div>
  			  	<span class="label label-primary">Cases</span>
				  </div>
				  <div class="media-body">
				    <h3 class="media-heading">Robin</h3>
				    <p class="meta">Rotterdam, Netherlands</p>
				  </div>
				</div><!-- .media -->
				<div class="media media-stream">
				  <div class="media-left">
  			  	<div class="amount">118</div>
  			  	<span class="label label-primary">Cases</span>
				  </div>
				  <div class="media-body">
				    <h3 class="media-heading">Oliver</h3>
				    <p class="meta">Chambéry, France</p>
				  </div>
				</div><!-- .media -->
				<div class="media media-stream">
				  <div class="media-left">
  			  	<div class="amount">382</div>
  			  	<span class="label label-primary">Bottles</span>
				  </div>
				  <div class="media-body">
				    <h3 class="media-heading">Landon</h3>
				    <p class="meta">Las Angeles, United States</p>
				  </div>
				</div><!-- .media -->
				<div class="media media-stream">
				  <div class="media-left">
  			  	<div class="amount">400</div>
  			  	<span class="label label-primary">Bottles</span>
				  </div>
				  <div class="media-body">
				    <h3 class="media-heading">Sergio</h3>
				    <p class="meta">Buenos Aires, Argentina</p>
				  </div>
				</div><!-- .media -->
				<div class="media media-stream">
				  <div class="media-left">
  			  	<div class="amount">4</div>
  			  	<span class="label label-primary">Cases</span>
				  </div>
				  <div class="media-body">
				    <h3 class="media-heading">David</h3>
				    <p class="meta">Arguineguín, Spain</p>
				  </div>
				</div><!-- .media -->
				<div class="media media-stream">
				  <div class="media-left">
  			  	<div class="amount">53</div>
  			  	<span class="label label-primary">Cases</span>
				  </div>
				  <div class="media-body">
				    <h3 class="media-heading">Wayne</h3>
				    <p class="meta">London, England</p>
				  </div>
				</div><!-- .media -->
				<div class="media media-stream">
				  <div class="media-left">
  			  	<div class="amount">68</div>
  			  	<span class="label label-primary">Cases</span>
				  </div>
				  <div class="media-body">
				    <h3 class="media-heading">Timmy</h3>
				    <p class="meta">North Brunswick Township, United States</p>
				  </div>
				</div><!-- .media -->
				<div class="media media-stream">
				  <div class="media-left">
  			  	<div class="amount">5</div>
  			  	<span class="label label-primary">Cases</span>
				  </div>
				  <div class="media-body">
				    <h3 class="media-heading">Philippe</h3>
				    <p class="meta">Rio de Janeiro, Brazil</p>
				  </div>
				</div><!-- .media -->
				<div class="media media-stream">
				  <div class="media-left">
  			  	<div class="amount">123</div>
  			  	<span class="label label-primary">Bottles</span>
				  </div>
				  <div class="media-body">
				    <h3 class="media-heading">Jordan</h3>
				    <p class="meta">Sunderland, England</p>
				  </div>
				</div><!-- .media -->
				<div class="media media-stream">
				  <div class="media-left">
  			  	<div class="amount">36</div>
  			  	<span class="label label-primary">Cases</span>
				  </div>
				  <div class="media-body">
				    <h3 class="media-heading">Clint</h3>
				    <p class="meta">Nacogdoches, United States</p>
				  </div>
				</div><!-- .media -->
				<div class="media media-stream">
				  <div class="media-left">
  			  	<div class="amount">10</div>
  			  	<span class="label label-primary">Cases</span>
				  </div>
				  <div class="media-body">
				    <h3 class="media-heading">Michael</h3>
				    <p class="meta">Princeton, United States</p>
				  </div>
				</div><!-- .media -->
			</div>
		</div>
</div>