<div class="cta" data-spy="affix">
	<div class="media">
	  <div class="media-left">
	    <%= link_to '',  page_path('cart'), :title => 'Purple Martini', class: 'glyphicon glyphicon-glass pm-icon-media' %>
	  </div>
	  <div class="media-body">
	    <h3 class="media-heading">Purple Martini</h3>
		    <p>Martini dalwhinnie white russian jack daniel's bloody aztec dewar's scotch whisky.</p>
	    	<p>
	    		<%= link_to 'Add To Cart', page_path('cart'), :class => 'btn btn-default btn-sm' %>
	    	</p>
	  </div>
	</div>
</div>