<%# add navigation links to this file %>
<li class="<%= 'active' if current_page?(page_path('sales')) %>"><%= link_to ('<i class="glyphicon glyphicon-tag"></i> Sales').html_safe, page_path('sales') %></li>
<li class="<%= 'active' if current_page?(page_path('stats')) %>"><%= link_to ('<i class="glyphicon glyphicon-stats"></i> Stats').html_safe, page_path('stats') %></li>
