<%# add navigation links to this file %>
<li><%= link_to ('<i class="glyphicon glyphicon-tag"></i> Sales').html_safe, page_path('sales') %></li>
<li><%= link_to ('<i class="glyphicon glyphicon-stats"></i> Stats').html_safe, page_path('stats') %></li>
